:host {
  background-color: inherit;
  width: 100% !important;
  height: inherit;
  margin: inherit;
  display: inherit;
  min-height: inherit;
  flex-direction: inherit;
  overflow-x: inherit;
  align-items: center;
  place-content: center;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}
