<!-- Footer -->
<footer fxLayout="row" fxLayoutAlign="space-evenly center" style="width: 100%">
  <div>
    Manfred Valverde
  </div>
  <div>
    <a href="https://www.linkedin.com/in/vpmanfred/" target="_blank" rel="noopener">https://www.linkedin.com/in/vpmanfred/</a>
  </div>
</footer>
