<div class="card-container" fxLayout="column" fxLayoutAlign="space-around center" style="width: 100%;">

  <!-- Title -->
  <div class="card highlight-card card-small">
    <svg id="rocket" alt="Rocket Ship" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678"
         viewBox="0 0 101.678 101.678">
      <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
        <circle id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)"
                fill="#000000"/>
        <g id="Group_47" data-name="Group 47" transform="translate(165.185 720.185)">
          <path id="Path_33" data-name="Path 33"
                d="M3.4,42.615a3.084,3.084,0,0,0,3.553,3.553,21.419,21.419,0,0,0,12.215-6.107L9.511,30.4A21.419,21.419,0,0,0,3.4,42.615Z"
                transform="translate(0.371 3.363)" fill="#fff"/>
          <path id="Path_34" data-name="Path 34"
                d="M53.3,3.221A3.09,3.09,0,0,0,50.081,0,48.227,48.227,0,0,0,18.322,13.437c-6-1.666-14.991-1.221-18.322,7.218A33.892,33.892,0,0,1,9.439,25.1l-.333.666a3.013,3.013,0,0,0,.555,3.553L23.985,43.641a2.9,2.9,0,0,0,3.553.555l.666-.333A33.892,33.892,0,0,1,32.647,53.3c8.55-3.664,8.884-12.326,7.218-18.322A48.227,48.227,0,0,0,53.3,3.221ZM34.424,9.772a6.439,6.439,0,1,1,9.106,9.106,6.368,6.368,0,0,1-9.106,0A6.467,6.467,0,0,1,34.424,9.772Z"
                transform="translate(0 0.005)" fill="#fff"/>
        </g>
      </g>
    </svg>
    <span>Student Detail</span>
  </div>

  <br>
  <br>

  <div style="width: 80%;" fxLayout="column" fxLayoutAlign="center stretch">
    <div style="width: 100%;" fxLayout="column" fxLayoutAlign="center start">
      <button mat-raised-button [routerLink]="['/list']">Back</button>
    </div>
    <br>
    <div style="width: 100%;" fxLayout="column" fxLayoutAlign="center center">
      <form fxFlex fxLayout="column" fxLayoutAlign="center stretch" [formGroup]="studentDetailFormGroup"
            (submit)="UpdateOrCreateStudent()" style="width: 80%;">

        <mat-form-field floatLabel="auto">
          <mat-label>Nombre</mat-label>
          <input matInput required type="text" name="firstName" id="firstName" autocomplete="given-name"
                 placeholder="Nombre" formControlName="firstName">
          <mat-error *ngIf="hasError('firstName', 'required')">
            El nombre es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="auto">
          <mat-label>Apellidos</mat-label>
          <input matInput required type="text" name="lastName" id="lastName" autocomplete="family-name"
                 placeholder="Apellidos" formControlName="lastName">
          <mat-error *ngIf="hasError('lastName', 'required')">
            Los apellidos son requeridos
          </mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="auto">
          <input matInput required formControlName="dateOfBirth" [matDatepicker]="dob_picker" autocomplete="bday" placeholder="Fecha de Nacimiento">
          <mat-error *ngIf="hasError('dateOfBirth', 'required')">La fecha de nacimiento es requerida</mat-error>
          <mat-datepicker-toggle matSuffix [for]="dob_picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #dob_picker disabled="false"></mat-datepicker>
        </mat-form-field>

        <mat-form-field floatLabel="auto">
          <mat-label>Género</mat-label>
          <mat-select placeholder="Género" formControlName="gender">
            <mat-option *ngFor="let gender of genders" [value]="gender.english">{{gender.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('gender', 'required')">
            El género es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="auto">
          <mat-label>Universidad</mat-label>
          <input matInput required type="text" name="university" id="university"
                 placeholder="Universidad" formControlName="university">
          <mat-error *ngIf="hasError('university', 'required')">
            La universidad es requerida
          </mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="auto">
          <mat-label>Carrera</mat-label>
          <mat-select placeholder="Carrera" formControlName="major">
            <mat-option *ngFor="let major of majors" [value]="major">{{major}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="auto">
          <input matInput formControlName="dateOfAdmission" [matDatepicker]="doa_picker" placeholder="Date of Admission">
          <mat-error *ngIf="hasError('dateOfAdmission', 'required')">La fecha de admisión es requerida</mat-error>
          <mat-datepicker-toggle matSuffix [for]="doa_picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #doa_picker disabled="false"></mat-datepicker>
        </mat-form-field>

        <mat-form-field floatLabel="auto">
          <mat-label>Dirección</mat-label>
          <textarea matInput formControlName="address" autocomplete="street-address" placeholder="Dirección"></textarea>
        </mat-form-field>

        <mat-form-field floatLabel="auto">
          <mat-label>Activo</mat-label>
          <mat-select required placeholder="Activo" formControlName="isActive">
            <mat-option *ngFor="let isActiveValue of isActiveValues" [value]="isActiveValue.value">{{isActiveValue.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('isActive', 'required')">
            El estado es requerido
          </mat-error>
        </mat-form-field>

        <br>

        <div fxLayout="column" fxLayoutAlign="center center">
          <button mat-raised-button color="primary">{{currentAction}}</button>
        </div>

      </form>
    </div>

  </div>

</div>

