:host {
  background-color: inherit;
  width: 100% !important;
  height: inherit;
  margin: inherit;
  display: inherit;
  min-height: inherit;
  flex-direction: inherit;
  overflow-x: inherit;
  align-items: center;
  place-content: center;
}

svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

