<!-- Toolbar -->
<div class="toolbar" role="banner" fxLayout="row" fxLayoutAlign="start center">
  <img
    src="/assets/img/SmallDrop.svg"
    width="40"
    alt="Logo"
  />
  <span>Prueba técnica para Liquid Consulting</span>
</div>
