/* You can add global styles to this file, and also import other style files */

/* Material Themes */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

td, th {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

p, span, div {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.spacer {
  flex: 1;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
  width: 100%;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card.highlight-card {
  background-color: #4dbeda;
  color: white;
  font-weight: 600;
  font-size: large;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

.card svg.material-icons path {
  fill: #888;
}


///*DEBUG*/
//div, form, section, mat-card, img, button {
//    /*DEBUG*/border-color: red !important;
//    /*DEBUG*/border-style: groove !important;
//    /*DEBUG*/border-width: thin !important;
//}
//h1, h2, h3, p, a {
//    /*DEBUG*/border-color: orange !important;
//    /*DEBUG*/border-style: groove !important;
//    /*DEBUG*/border-width: thin !important;
//}
//
